.container,
.tabBtn {
    text-transform: uppercase;
}

.distanceTitle,
.travelTimeTitle {
    color: var(--light-blue);
    font-size: 0.875rem;
    letter-spacing: 0.14rem;
    line-height: 1rem;
    font-family: var(--barlow-condensed);
}

.distance,
.travelTime {
    font-family: var(--bellefair);
    font-size: 1.75rem;
    line-height: 2rem;
}

.tabBtn,
.tabBtnSelected,
.title,
.name,
.distance,
.travelTime {
    color: var(--white);
}

.distanceTitle,
.travelTimeTitle {
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

.distance,
.travelTime {
    font-size: 1.2rem;
}

.container,
.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabsContainer {
    text-align: center;
    margin: 1.5rem 0;
}

.tabBtn {
    border: none;
    background-color: transparent;
    font-family: var(--barlow-condensed);
    letter-spacing: 0.10rem;
    color: var(--light-blue);
    cursor: pointer;
    margin: 0 0.5rem;
}

.tabBtn:hover {
    border-bottom: 3px solid var(--transparent);
}

.tabBtnSelected {
    border-bottom: 3px solid var(--white);
}

.name {
    font-size: 3.5rem;
    font-family: var(--bellefair);
    line-height: 4rem;
}

.title {
    font-family: var(--barlow-condensed);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
    color: var(--white);
    text-align: center;

}

.title span {
    opacity: 0.25;
    font-weight: 700;
    margin-right: .75rem;
}

.description {
    text-align: center;
    text-transform: none;
    color: var(--light-blue);
    padding-bottom: 1.25rem;
    font-size: .9rem;
    line-height: 1.5rem;
    border-bottom: 1px solid var(--border);
    font-family: var(--barlow);
    max-width: 500px;
    margin: 0 auto;

}

.destinationImg {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

@media (min-width: 768px) {

    .title {
        font-size: 1.5rem;
    }

    .name {
        font-size: 5rem;
    }

    .detailsContainer {
        display: flex;
        gap: 4rem;
    }
}

@media (min-width: 1024px) {

    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .destinationInfoWrapper {
        max-width: 60%;
    }

    .title {
        font-size: 2rem;
        margin: 1rem 0 1.5rem 4rem;
        text-align: left;
    }

    .tabsContainer {
        text-align: left;
        font-size: 1.3rem;
    }

    .textContainer {
        align-items: flex-start;
    }

    .description {
        font-size: 1.2rem;
        text-align: left;
    }


}