.description,
.subtitle {
    color: var(--light-blue);
}

.container,
.tabBtn {
    color: var(--white);
}

.container {
    text-transform: uppercase;
    margin: 5% auto;
}

.wrapper {
    max-width: 650px;
    padding: 1rem 1.5rem;
}

.tabsContainer {
    max-width: 180px;
}

.tabBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--transparent);
    background-color: transparent;
}

.tabBtnSelected {
    background-color: var(--white);
    color: var(--dark-bg);
}

.tabBtn:hover {
    border: 1px solid var(--white);
}



.title {
    font-family: var(--barlow-condensed);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
    color: var(--white);
    text-align: center;

}

.title span {
    opacity: 0.25;
    font-weight: 700;
    margin-right: .75rem;
}

.description {
    text-align: center;
    text-transform: none;
    font-family: var(--barlow);
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.subtitle {
    font-family: var(--barlow-condensed);
    font-size: .8rem;
    line-height: 1rem;
    letter-spacing: .14rem;
}

.term {
    font-family: var(--bellefair);
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.techImg {
    max-width: 100%;
}

/* media queries tablet */

@media (min-width: 768px) {

    .subtitle {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .term {
        font-size: 2.5rem;
    }

}

/* media queries desktop */

@media (min-width: 1200px) {

    .container {
        max-width: 1500px;
        margin: 10% auto;
    }

    .tabBtn {
        width: 60px;
        height: 60px;
        margin: 0 1.25rem 1rem 1.5rem;
    }

    .title {
        font-size: 2rem;
        margin: 1rem 0 1.5rem 4rem;
        text-align: left;
    }

    .subtitle {
        font-size: 1rem;
    }

    .term {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .description {
        font-size: 1.125rem;
    }

    .techImg {
        max-height: 400px;
    }
}