.container {
    max-width: 325px;
    margin: 10% auto;
}

.title,
.description {
    font-size: 1rem;
    color: var(--light-blue);
}

.title {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.2rem;
    margin-top: 4rem;
}

.title span {
    display: block;
    font-size: 5rem;
    margin-top: 1.25rem;
    color: var(--white);
}

.title span,
.exploreBtn {
    font-family: var(--bellefair);
    text-transform: uppercase;
}

.description {
    font-family: var(--barlow);
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0 0.50rem;
}

.exploreBtn {
    width: 150px;
    height: 150px;
    background-color: var(--white);
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
    letter-spacing: 0.075rem;
    margin: 7rem 0 2rem;
}

.exploreBtn:hover {
    outline: 3rem solid var(--transparent);
}


.textContainer {
    text-align: center;
}


/* media queries tablet */

@media (min-width:768px) {

    .textContainer {
        max-width: 450px;
    }

    .exploreBtn {
        width: 240px;
        height: 240px;
        font-size: 2rem;
    }


}

/* media queries desktop */

@media (min-width: 1200px) {

    .container {
        max-width: 1000px;
        margin: 9rem auto;
    }

    .textContainer {
        text-align: left;
    }

    .exploreBtn {
        width: 275px;
        height: 275px;
    }

    .title {
        font-size: 1.75rem;
    }

    .title span {
        font-size: 9rem;
    }

    .description {
        font-size: 1.125rem;
    }


}