.wrapper {
    border: 2px solid blue;
}

.container {
    max-width: 325px;
    margin: 0 auto;
    border: 1px solid yellow;
    gap: 2rem;
}

.tabsContainer {
    margin: 0 auto;
    width: 10rem;
}

.imgContainer {
    margin: 1.5rem 0;
    border-bottom: 1px solid #383B4B;
}

.imgContainer img {
    max-width: 170px;
}

.tabBtn {
    border: none;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

/* typography */

.role,
.fullName,
.title {
    text-transform: uppercase;
}

.role,
.fullName {
    font-family: var(--bellefair);
    color: var(--white);
}

.fullName {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.role {
    opacity: 0.5;
    line-height: 1.125rem;
}

.bio {
    color: var(--light-blue);
    font-family: var(--barlow);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.title {
    font-family: var(--barlow-condensed);
    letter-spacing: 0.15rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: var(--white);
}

.title span {
    opacity: 0.25;
    font-weight: 700;
    margin-right: .75rem;
}


@media (min-width: 768px) {
    .container {
        max-width: 460px;
    }

    .imgContainer {
        border: none;
    }

    .imgContainer img {
        max-width: 450px;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    .imgContainer img {
        max-width: 530px;
    }

    .tabsContainer {
        margin: 3rem 0 0;
    }

    .textContainer {
        max-width: 500px;
        padding: 10rem 0;
    }

    .fullName {
        font-size: 3.5rem;
        line-height: 3.25rem;
    }

    .role {
        font-size: 2rem;
        line-height: 2.25rem;
    }

    .bio {
        font-size: 1.125rem;
        margin-top: 1rem;
        line-height: 2rem;
    }

    .tabBtn {
        width: 1rem;
        height: 1rem;
    }

    .title {
        font-size: 2rem;
    }
}